<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'font-awesome.min.css','icon-font.min.css','/assets/vendor/animate/animate.css','/assets/vendor/animsition/css/animsition.min.css','/assets/vendor/select2/select2.min.css','/assets/vendor/css-hamburgers/hamburgers.min.css','/assets/vendor/animsition/css/animsition.min.css','/assets/vendor/select2/select2.min.css','/assets/vendor/select2/select2.min.css', '/assets/vendor/daterangepicker/daterangepicker.css','util.css', 'main.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/change_locale' %>
    <% flash.each do |key, value| %>
      <div class = "alert alert-#{key == 'notice ? 'success' : 'danger'}" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
